// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$red: #6f1a07;
$blue: #69fff1;
$yellow: #FDB631;
$orange: #a8763e;
$green: #32B796;
$gray: #2b2118;
$light-gray: #F4F4F4;
$black: #000000;